div.answer{
        border-radius: 0.45rem;
    border: 1px solid #e0e0e0;
    box-shadow: 0 4px 0 0 rgb(143 156 173 / 20%);
    margin: 20px;
    width: 70%;
    padding: 10px;
    
}
div.answer-item{
    margin-bottom: 20px;
}

#light{
    border-radius: 50%; /* Makes the border circular */
  width: 30px; /* Set a fixed width to maintain circular shape */
  height: 30px; /* Set a fixed height to maintain circular shape */
  padding: 7px;
  margin-left: 15px;
  background-color: #1eb2a6;
  border: none; /* Remove border property as it's not needed */
  color: white;
  display: inline-flex; /* Ensures proper alignment within container */
  align-items: center; /* Vertically center content */
  justify-content: center; /* Horizontally center content */
  text-align: center; /* Center text content */
  text-decoration: none;
}